@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700@display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #43affc;
}

.wrapper {
  width: 400px;
  border-radius: 7px;
  background: #fff;
}
.wrapper header {
  color: #43affc;
  font-size: 21px;
  font-weight: 500;
  padding: 16px 15px;
  border-bottom: 1px solid #bfbfbf;
  display: flex;
  align-items: center;
}
.wrapper header i {
  font-size: 0;
  cursor: pointer;
  margin-right: 8px;
}
.wrapper .input-part :where(input, button) {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 7px;
}
.wrapper .input-part {
  margin: 20px 25px 30px;
}
.wrapper .input-part .info-txt {
  display: none;
  font-size: 17px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 7px;
  margin-bottom: 15px;
}
.wrapper .input-part .error {
  display: block;
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}
.wrapper .input-part .pending {
  display: block;
  color: #0c5460;
  background-color: #d1ecf1;
  border: 1px solid #bee5eb;
}
.wrapper .input-part input {
  text-align: center;
  border: 1px solid #bfbfbf;
}
.wrapper .input-part input:is(:focus, :valid) {
  border: 2px solid #43affc;
}
.wrapper .input-part button {
  color: white;
  background-color: #43affc;
  cursor: pointer;
}
.wrapper .input-part .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .input-part .separator::before {
  content: "or";
  background-color: white;
  padding: 0px 15px;
  font-size: 19px;
  color: #ccc;
}
.wrapper .weather-part {
  margin: 30px 0 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper .weather-part .location {
  display: flex;
  align-items: center;
  font-size: 21px;
  margin-bottom: 30px;
}
.wrapper .weather-part .location i {
  font-size: 22px;
  margin-right: 5px;
}
.wrapper .weather-part img {
  max-width: 125px;
}
.wrapper .weather-part .temp {
  display: flex;
  font-size: 72px;
  font-weight: 500;
}
.wrapper .weather-part .temp .numb {
  font-weight: 600;
}
.wrapper .weather-part .temp .deg {
  font-size: 40px;
  margin: 10px 5px 0 0;
  display: block;
}
.wrapper .weather-part .bottom-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bfbfbf;
}
.wrapper .weather-part .bottom-details .column {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.wrapper .weather-part .bottom-details .column i {
  color: #43affc;
  font-size: 40px;
}
.wrapper .weather-part .bottom-details .humidity {
  border-left: 1px solid #bfbfbf;
}
.wrapper .weather-part .bottom-details .details .temp,
.wrapper .weather-part .bottom-details .humidity span {
  font-size: 18px;
  font-weight: 500;
  margin-top: -3px;
}
.wrapper .weather-part .bottom-details .details .temp .deg {
  margin: 0;
  font-size: 17px;
  padding: 0 2px 0 1px;
}
.wrapper .weather-part .bottom-details .details p {
  font-size: 14px;
  margin-top: -6px;
}

.wrapper.active header i {
  font-size: 30px;
  margin-left: 5px;
}

.wrapper.active .weather-part {
  display: flex;
}/*# sourceMappingURL=main.css.map */